@import "tailwindcss";


#root {
  margin: 0 auto;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.hero-text {
  font-family: "Climate Crisis";
  line-height: 1.2em;
}

.hero-img {
  aspect-ratio: 9/16;
  height: 350px;

}

.nav-btn {
  border: 1px solid white;
}

@media (max-width: 768px) {
  .nav-btn {
    border: none;       /* desktop */
  }
}

.sub-heading {
  font-size: 2rem;
  font-weight:500;
  margin-bottom: 10px;
}