@import "tailwindcss";

:root {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Lenis required styles */
html.lenis,
html.lenis body {
  height: auto;
}
.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis-stopped {
  overflow: hidden;
}

.lenis-scrolling iframe {
  pointer-events: none;
}


a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 200px;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
